<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Expense Chain</span>

    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Add Block</button>
    <button mat-button>Show Chain</button>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="Add new block name">
  </mat-form-field>

  <br>

  <button mat-raised-button (click)="showAnswer()">Add block</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>


<mat-card *ngIf="answerDisplay">
  <h1>{{ answerDisplay }}, block added.</h1>
</mat-card>

<router-outlet></router-outlet>